.image__container{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    z-index: 9999;
}

.image__Umi{
    position: fixed;
    top: 10%;
    left: 15%;
    width: 70%;
    z-index: 9999;
    border-radius: .5rem;
    visibility: hidden;
}

.image__Umi-open{
    visibility: visible;
}

.image__icon{
    width: 70px;
    opacity: 0.4;
}

.image__icon:hover{
    opacity: 1;
    width: 80px;
    transition: .5s;
    cursor: pointer;
}