.image__container{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    z-index: 9999;
}

.image__icon{
    width: 60px;
    opacity: 0.4;
}

.image__icon:hover{
    opacity: 1;
    width: 80px;
    transition: .3s;
    cursor: pointer;
}

.container__cat{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .40);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.container__cat-active{
    opacity: 1;
    visibility: visible;
}

.image__Umi {
    width: 70%;
    border-radius: .5rem;
}